.pr-block {
  width: 100%;
  height: auto;
}
.prd-block h2 {
  margin-left: 5px;
  color: #23a534;
  padding: 5px;
}
.prd-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 25px;
  margin-left: 35px;
  padding: 20px 0;
}
.prd-item h3 a {
  text-decoration: none;
}
