body {
  background-color: #ccc;
}
#pagination {
  width: 720px;
  height: auto;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  word-spacing: 5px;
  text-align: center;
  margin-bottom: 25px;
  margin: 0 auto;
}
#pagination span {
  color: #c40000;
}
#pagination a {
  text-decoration: none;
  color: #000;
}
.pr-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 25px;
  margin-left: 35px;
  padding: 20px 0;
}

.prd-item {
  width: 300px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 30px;
}
.prd-item a {
  text-decoration: none;
}

.clear {
  clear: both;
}
